In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
import json
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import time
import pickle
import os

# Process data

In [3]:
with open("data/twitter-swisscom/twex.tsv", 'r') as h:
    lines = h.readlines()

In [4]:
to_be_processed_lines = [i for k, i in enumerate(lines) if i.endswith('\\\n') ]
print(len(to_be_processed_lines))

2008290

In [5]:
def remove_line_breaks(list_of_strings):
    count = 0
    for i in range(len(list_of_strings)):
        list_of_strings[i] = list_of_strings[i].replace('\\\t', '')
        if list_of_strings[i].endswith('\\\n'):
            list_of_strings[i] = list_of_strings[i][:-2]
            
remove_line_breaks(lines)

In [67]:
with open("data/twitter-swisscom/modified_twex_1_5000000.tsv", 'w') as h:
    h.writelines(lines[:5000000])

with open("data/twitter-swisscom/modified_twex_2_5000000.tsv", 'w') as h:
    h.writelines(lines[5000000:10000000])

with open("data/twitter-swisscom/modified_twex_3_5000000.tsv", 'w') as h:
    h.writelines(lines[10000000:15000000])

with open("data/twitter-swisscom/modified_twex_4_5000000.tsv", 'w') as h:
    h.writelines(lines[15000000:])

In [68]:
with open("data/twitter-swisscom/modified_twex_1_5000000.tsv", 'r') as h:
    l1 = h.readlines()

In [69]:
count = 0
reduced_line = []
for i in range(len(l1)):
    if len(l1[i].split('\t'))==20:
        reduced_line.append(l1[i])
    if np.mod(i, 1000000)==0:
        print(i)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000
3020000
3030000
3040000
3050000
3060000
3070000
3080000
3090000
3100000
3110000
3120000
3130000
3140000
3150000
3160000
3170000
3180000
3190000
3200000
3210000
3220000
3230000
3240000
3250000
3260000
3270000
3280000
3290000
3300000
3310000
3320000
3330000
3340000
3350000
3360000
3370000
3380000
3390000
3400000
3410000
3420000
3430000
3440000
3450000
3460000
3470000
3480000
3490000
3500000
3510000
3520000
3530000
3540000
3550000
3560000
3570000
3580000
3590000
3600000
3610000
3620000
3630000
3640000
3650000
3660000
3670000
3680000
3690000
3700000
3710000
3720000
3730000
3740000
3750000
3760000
3770000
3780000
3790000
3800000
3810000
3820000
3830000
3840000
3850000
3860000
3870000
3880000
3890000
3900000
3910000
3920000
3930000
3940000
3950000
3960000
3970000
3980000
3990000
4000000
4010000
4020000
4030000
4040000
4050000
4060000
4070000
4080000
4090000
4100000
4110000
4120000
4130000
4140000
4150000
4160000
4170000
4180000
4190000
4200000
4210000
4220000
4230000
4240000
4250000
4260000
4270000
4280000
4290000
4300000
4310000
4320000
4330000
4340000
4350000
4360000
4370000
4380000
4390000
4400000
4410000
4420000
4430000
4440000
4450000
4460000
4470000
4480000
4490000
4500000
4510000
4520000
4530000
4540000
4550000
4560000
4570000
4580000
4590000
4600000
4610000
4620000
4630000

In [71]:
with open("data/twitter-swisscom/modified_twex_1_5000000.tsv", 'w') as h:
    h.writelines(reduced_line)

In [73]:
with open("data/twitter-swisscom/modified_twex_2_5000000.tsv", 'r') as h:
    l2 = h.readlines()
    
count = 0
reduced_line = []
for i in range(len(l2)):
    if len(l2[i].split('\t'))==20:
        reduced_line.append(l2[i])
    if np.mod(i, 1000000)==0:
        print(i)

with open("data/twitter-swisscom/modified_twex_2_5000000.tsv", 'w') as h:
    h.writelines(reduced_line)

0
1000000
2000000
3000000
4000000

In [74]:
with open("data/twitter-swisscom/modified_twex_3_5000000.tsv", 'r') as h:
    l2 = h.readlines()
    
count = 0
reduced_line = []
for i in range(len(l2)):
    if len(l2[i].split('\t'))==20:
        reduced_line.append(l2[i])
    if np.mod(i, 1000000)==0:
        print(i)

with open("data/twitter-swisscom/modified_twex_3_5000000.tsv", 'w') as h:
    h.writelines(reduced_line)

0
1000000
2000000
3000000
4000000

In [78]:
with open("data/twitter-swisscom/modified_twex_4_5000000.tsv", 'r') as h:
    l2 = h.readlines()
    
count = 0
reduced_line = []
for i in range(len(l2)):
    if len(l2[i].split('\t'))==20:
        reduced_line.append(l2[i])
    if np.mod(i, 1000000)==0:
        print(i)

with open("data/twitter-swisscom/modified_twex_4_5000000.tsv", 'w') as h:
    h.writelines(reduced_line)

0
1000000
2000000
3000000
4000000
5000000
6000000

# Read from csv to pd dataframe

In [4]:
schema = pd.read_table("data/twitter-swisscom/schema.txt", header = None, delim_whitespace=True,index_col=0)

In [72]:
# None quating in the dataset
df1 = pd.read_csv("data/twitter-swisscom/modified_twex_1_5000000.tsv",
                 header = None, encoding = 'utf-8', sep='\t',quoting=csv.QUOTE_NONE)
df1.columns = schema[1]
df1.shape

/home/lie/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(4632991, 20)

In [81]:
df1 = df

In [80]:
df.head()

1,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation
0,9514097914,17341045,2010-02-23 05:55:51,Guuuuten Morgen! :-),7.43926,46.9489,\N,\N,197,NaN,\N,\N,TwitBird,http://www.nibirutech.com,Tilman Jentzsch,blickwechsel,586,508,9016,"Bern, Switzerland"
1,9514846412,7198282,2010-02-23 06:22:40,Still the best coffee in town — at La Stanza h...,8.53781,47.3678,\N,\N,550,NaN,\N,\N,Gowalla,http://gowalla.com/,Nico Luchsinger,halbluchs,1820,703,4687,"Zurich, Switzerland"
2,9516574359,14657884,2010-02-23 07:34:25,It has been a week or so.. and today I just co...,6.13396,46.1951,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Javier Belmonte,vichango,167,277,2885,"Geneva, Switzerland"
3,9516952605,14703863,2010-02-23 07:51:47,Getting ready.. http://twitpic.com/14v8gz,8.81749,47.2288,\N,\N,62,NaN,\N,\N,Twittelator,http://stone.com/Twittelator,Urs,ugro,75,161,1390,"Zürich, Switzerland"
4,9517198943,14393717,2010-02-23 08:02:57,Un peu de réconfort liquide en take away après...,6.63254,46.5199,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Romain P.,PIMboula,135,109,2381,"Lausanne, Suisse"

In [82]:
# None quating in the dataset
df2 = pd.read_csv("data/twitter-swisscom/modified_twex_2_5000000.tsv",
                 header = None, encoding = 'utf-8', sep='\t',quoting=csv.QUOTE_NONE)
df2.columns = schema[1]
df2.shape

/home/lie/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(4701708, 20)

In [84]:
with open("data/twitter-swisscom/1.pickle", "wb") as f:
    pickle.dump(df1, f)

In [85]:
with open("data/twitter-swisscom/2.pickle", "wb") as f:
    pickle.dump(df2, f)

In [5]:
# None quating in the dataset
df3 = pd.read_csv("data/twitter-swisscom/modified_twex_3_5000000.tsv",
                 header = None, encoding = 'utf-8', sep='\t',quoting=csv.QUOTE_NONE)
df3.columns = schema[1]
df3.shape

/home/lie/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(4495354, 20)

In [6]:
with open("data/twitter-swisscom/3.pickle", "wb") as f:
    pickle.dump(df3, f)

In [7]:
# None quating in the dataset
df4 = pd.read_csv("data/twitter-swisscom/modified_twex_4_5000000.tsv",
                 header = None, encoding = 'utf-8', sep='\t',quoting=csv.QUOTE_NONE)
df4.columns = schema[1]
df4.shape

/home/lie/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(6378713, 20)

In [8]:
with open("data/twitter-swisscom/4.pickle", "wb") as f:
    pickle.dump(df4, f)

In [3]:
with open("data/twitter-swisscom/1.pickle", "rb") as f:
    df1 = pickle.load(f)

In [4]:
with open("data/twitter-swisscom/2.pickle", "rb") as f:
    df2 = pickle.load(f)

In [5]:
with open("data/twitter-swisscom/3.pickle", "rb") as f:
    df3 = pickle.load(f)

In [6]:
with open("data/twitter-swisscom/4.pickle", "rb") as f:
    df4 = pickle.load(f)

In [7]:
df = pd.concat([df1, df2, df3, df4])

In [10]:
df.head()

1,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation
0,9514097914,17341045,2010-02-23 05:55:51,Guuuuten Morgen! :-),7.43926,46.9489,\N,\N,197,NaN,\N,\N,TwitBird,http://www.nibirutech.com,Tilman Jentzsch,blickwechsel,586,508,9016,"Bern, Switzerland"
1,9514846412,7198282,2010-02-23 06:22:40,Still the best coffee in town — at La Stanza h...,8.53781,47.3678,\N,\N,550,NaN,\N,\N,Gowalla,http://gowalla.com/,Nico Luchsinger,halbluchs,1820,703,4687,"Zurich, Switzerland"
2,9516574359,14657884,2010-02-23 07:34:25,It has been a week or so.. and today I just co...,6.13396,46.1951,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Javier Belmonte,vichango,167,277,2885,"Geneva, Switzerland"
3,9516952605,14703863,2010-02-23 07:51:47,Getting ready.. http://twitpic.com/14v8gz,8.81749,47.2288,\N,\N,62,NaN,\N,\N,Twittelator,http://stone.com/Twittelator,Urs,ugro,75,161,1390,"Zürich, Switzerland"
4,9517198943,14393717,2010-02-23 08:02:57,Un peu de réconfort liquide en take away après...,6.63254,46.5199,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Romain P.,PIMboula,135,109,2381,"Lausanne, Suisse"

In [9]:
del df1, df2, df3, df4

In [ ]:
with open("data/twitter-swisscom/total.pickle", "wb") as f:
    pickle.dump(df, f)

In [22]:
df.head()

1,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation
0,9514097914,17341045,2010-02-23 05:55:51,Guuuuten Morgen! :-),7.43926,46.9489,\N,\N,197,NaN,\N,\N,TwitBird,http://www.nibirutech.com,Tilman Jentzsch,blickwechsel,586,508,9016,"Bern, Switzerland"
1,9514846412,7198282,2010-02-23 06:22:40,Still the best coffee in town — at La Stanza h...,8.53781,47.3678,\N,\N,550,NaN,\N,\N,Gowalla,http://gowalla.com/,Nico Luchsinger,halbluchs,1820,703,4687,"Zurich, Switzerland"
2,9516574359,14657884,2010-02-23 07:34:25,It has been a week or so.. and today I just co...,6.13396,46.1951,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Javier Belmonte,vichango,167,277,2885,"Geneva, Switzerland"
3,9516952605,14703863,2010-02-23 07:51:47,Getting ready.. http://twitpic.com/14v8gz,8.81749,47.2288,\N,\N,62,NaN,\N,\N,Twittelator,http://stone.com/Twittelator,Urs,ugro,75,161,1390,"Zürich, Switzerland"
4,9517198943,14393717,2010-02-23 08:02:57,Un peu de réconfort liquide en take away après...,6.63254,46.5199,\N,\N,3,NaN,\N,\N,foursquare,http://foursquare.com,Romain P.,PIMboula,135,109,2381,"Lausanne, Suisse"